// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// Include theme-specific fonts
// @import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

// メインの文字色
$mainColor: #222;
// ヘッダの文字色
$headingColor: #222;

$mainFontSize: 56px;
$mainFont: 'Noto Sans Japanese', 'Platino', Helvetica, sans-serif;
$headingFont: 'Arial Narrow', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
	.slides {
		margin-top: 0.4em;

		.title {
			margin-top: 3em;
		}
		
		section {
			top: 0 !important;
		}

		p {
			text-align: left;
			
			&.center {
				text-align: center;
			}
		}
	}

	section img {
		border: 0;
	}

	h1 {
		background-color: #87c73c;
		color: #fff;
	}
	
	h2 {
		background-color: #866ae6;
		color: #fff;
	}
}
